@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
.bg_img{
    background-image: url(../images/webp/BachgroundImage.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.font_family_inter {
    font-family: "Inter", sans-serif;
}

.Feed_page {
    min-height: 100vh;
    max-width: 393px;
}

.heading_padding_top {
    padding-top: 72px;
}

.letter_spacing_1 {
    letter-spacing: 1%;
}

.all_button {
    padding: 8px 6px;
    width: 98px;
    border: 1px solid var(--dark-green2);
    border-radius: 4px;
    opacity: 0.5;
}

.Leaderboard_button {
    padding: 8px 6px;
    max-width: 109px;
    width: 100%;
    border: 1px solid var(--dark-green2);
    border-radius: 4px;
    opacity: 0.5;
}

.pet_svg {
    max-width: 11px;
    z-index: 9999;
}

.wrapper {
    border-radius: 4px;
}

.dropdown {
    padding: 7.5px 6px;
    width: 102px;
    height: 27px;
    border-radius: 4px;
    border: 1px solid #052E160D;
}
.dropdown input::placeholder{
    font-weight: 400;
}

.dropdown::before {
    content: "";
    position: absolute;
    right: 3px;
    top: 9px;
    z-index: 9999;
    width: 10px;
    height: 10px;
    background-image: url(../images/svg/Vector24.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: all 0.3s linear;
}

.dropdown input {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--dark-green);
    width: 100%;
    font-weight: 400;
    height: 100%;
    border-radius: 4px;
    padding: 7.5px 15px 7.5px 25px;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.dropdown .options {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 0;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translateY(-50px);
    visibility: hidden;
    background: white;

}

.dropdown .options .option {
    padding: 7px;
    border-radius: 4px;
    background: white;
    transition: all 0.2s ease;
}


.dropdown.opened .options {
    opacity: 100%;
    visibility: visible;
    transform: translateY(0);
}

.dropdown.opened::before {
    transform: rotate(-180deg);
    top: 9px;
}

.wrapper {
    position: relative;
}

.buttons_padding_top {
    padding-top: 38px;
}

.badge1 {
    padding: 6px;
    border-radius: 4px;
    background: var(--light-green);
}

.badge2 {
    padding: 6px;
    border-radius: 4px;

}

.max_width_186 {
    max-width: 186px;
}


.tab-content .tab-item {
    display: none;
}

.tab-content .active {
    display: block;
}

.tabs .active {
    box-shadow: inset 2px 2px 0 0 rgba(12, 10, 9, .5);
    opacity: 1;
    color: var(--dark-green);
}

.scroll_min_height {
    height: calc(100vh - 264.26px);
}

.px_21 {
    padding-left: 21.5px;
    padding-right: 21.5px;
}

.nav_box {
    max-width: 393px;
    right: 50%;
    transform: translateX(50%);
    border-top: 1px solid #16653433;
}

.dropdown input::-webkit-input-placeholder {
    color: var(--dark-green);
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 0px 0px #16653480;
    bottom: 0;
    background-color: #F0FDF4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9.6px;
    width: 9.6px;
    left: 3.2px;
    top: 3.2px;
    box-shadow: 2px 2px 0px 0px #0C0A0980 inset;
    background: var(--dark-green2);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--dark-green2);
    box-shadow: 2px 2px 0px 0px #0C0A0980 inset;
}



input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
    background-color: #DCFCE7;
    box-shadow: 2px 2px 0px 0px #0C0A0980 inset;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.scroll_hidden::-webkit-scrollbar {
    display: none;
}

.nav_tabs {
    max-width: 70px;
    width: 100%;
    min-height: 53px;
}

.nav_tabs:hover {
    background: var(--light-green);
}

.nav_tabs.active {
    background: var(--light-green);
}

.nav_logo {
    max-width: 28px;
    height: 32px;
}
.leaderboard_badge{
    padding: 7.5px 14px;
}
.Leaderboard_div{
    border: 1px solid #DCFCE7
}