@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}


.bg_img {
    background-image: url(../images/webp/BachgroundImage.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.font_family_inter {
    font-family: "Inter", sans-serif;
}

.Feed_page {
    min-height: 100vh;
    max-width: 393px;
}

.heading_padding_top {
    padding-top: 72px;
}

.all_button {
    padding: 8px 6px;
    width: 98px;
    height: 32px;
    box-shadow: 1px 1px 0px 0px #052E1633;
    border: 1px solid var(--dark-green2);
    border-radius: 4px;
    opacity: 0.5;
}

.Leaderboard_button {
    padding: 8px 6px;
    max-width: 109px;
    height: 32px;
    width: 100%;
    border: 1px solid var(--dark-green2);
    border-radius: 4px;
    opacity: 0.5;
}

.pet_svg {
    max-width: 11px;
    z-index: 12;
}

.wrapper {
    border-radius: 4px;
}

.dropdown {
    padding: 7.5px 6px;
    width: 102px;
    height: 27px;
    border-radius: 4px;
}

.dropdown input::placeholder {
    font-weight: 400;
}

.dropdown::before {
    content: "";
    position: absolute;
    right: 3px;
    top: 9px;
    z-index: 99;
    width: 10px;
    height: 10px;
    background-image: url(../images/svg/Vector24.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: all 0.3s linear;
}

.dropdown input {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--dark-green);
    width: 100%;
    font-weight: 400;
    height: 100%;
    border-radius: 4px;
    padding: 7.5px 15px 7.5px 25px;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.dropdown .options {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 30px;
    left: 0;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translateY(-50px);
    visibility: hidden;
}

.dropdown .options .option {
    padding: 7px;
    border-radius: 4px;
    background: white;
    transition: all 0.2s ease;
}


.dropdown.opened .options {
    opacity: 100%;
    visibility: visible;
    transform: translateY(0);
}

.dropdown.opened::before {
    transform: rotate(-180deg);
    top: 9px;
}

.wrapper {
    position: relative;
}

.buttons_padding_top {
    padding-top: 22px;
}

.badge1 {
    padding: 6px;
    border-radius: 4px;
    background: var(--light-green);
}

.badge2 {
    padding: 6px;
    border-radius: 4px;
}

.max_width_186 {
    max-width: 186px;
}


.tab-content .tab-item {
    display: none;
}

.tab-content .active {
    display: block;
}

.tabs .active {
    box-shadow: inset 2px 2px 0 0 rgba(12, 10, 9, .5);
    opacity: 1;
    color: var(--dark-green);
}

.scroll_min_height {
    height: calc(100vh - 300px);
}

.px_21 {
    padding-left: 21.5px;
    padding-right: 21.5px;
}

.nav_box {
    max-width: 393px;
    right: 50%;
    transform: translateX(50%);
    border-top: 1px solid #16653433;
}

.dropdown input::-webkit-input-placeholder {
    color: var(--dark-green);
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 0px 0px #16653480;
    bottom: 0;
    background-color: #F0FDF4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9.6px;
    width: 9.6px;
    left: 3.2px;
    top: 3.2px;
    box-shadow: 2px 2px 0px 0px #0C0A0980 inset;
    background: var(--dark-green2);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--dark-green2);
    box-shadow: 2px 2px 0px 0px #0C0A0980 inset;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
    box-shadow: none !important;
    background-color: #DCFCE7;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.scroll_hidden::-webkit-scrollbar {
    display: none;
}

.nav_tabs {
    max-width: 70px;
    width: 100%;
    min-height: 53px;
}

.nav_tabs:hover {
    background: var(--light-green);
}

.nav_tabs.active {
    background: var(--light-green);
}

.nav_logo {
    max-width: 28px;
    height: 32px;
}

.leaderboard_badge {
    padding: 7.5px 14px;
}

.Leaderboard_div {
    border: 1px solid var(--light-green);
    height: 50px;
}

.max_width_119 {
    max-width: 119px;
}

.pts_button {
    padding: 10px 16px;
    border: 1px solid var(--dark-green);
    box-shadow: 1px 1px 0px 0px #16653480;
    border-radius: 6px;
    width: 100px;
    height: 34px;
}

.pts_button:disabled {
    border: 1px solid var(--dark-green);
    box-shadow: none !important;
    opacity: 0.5;

    span {
        color: #000000;
    }
}

.w3-modal {
    min-height: 100vh;
    padding: 0 !important;
    max-width: 393px;
    position: absolute !important;
    background: #9ED2AECC !important;
    backdrop-filter: blur(2px);
}

.modal_div {
    width: 360px;
}

.w3-modal-content {
    display: flex; 
    height: 100%;
    max-width: 393px;
    align-items: center;
    justify-content: center;
    background: transparent !important;
}
.modalcard{
    max-width: 360px;
    padding: 8px;
    width: 100%;
    min-height: 232px;
}
.modalcard2{
    max-width: 360px;
    padding: 8px;
    width: 100%;
}
.Asphyxiated_id_div {
    padding: 2px 6px;
}

.svg_div {
    width: 24px;
    height: 24px;
    border: 1px solid #052E1633;
}

.ok_button {
    border: 1px solid #16653480;
    box-shadow: 1px 1px 0px 0px #16653480;
    height: 48px;
    margin-top: 4px;
    max-width: 344px;
    background: var(--dark-green2);
}
.Asphyxiated_div{
    padding: 16px;
}
.tabbox .tab_heading {
    display: none;
}

.tab_heading.active {
    display: block;
}

.tab_heading {
    padding: 4px 16px;
}

.img1 {
    width: 12px;
    height: 12px;
}
.nav_index{
    z-index: 999;
}
